
body{
	background-color: black;
	width:100%;
}
.main{
	margin:5%;
	background-color: grey;
	display:flex;
	padding:50px;
	height:80vh;
	border-radius: 5px;
}
.profile{
	width:30%;
	background-color: skyblue;
	margin-right: 40px;
	border-radius: 5px;
	box-shadow:  4px 4px 5px 5px;
	text-align: center;
	
}
.resume{
	width:70%;
	background-color: pink;
	border-radius: 5px;
	box-shadow:  4px 4px 5px 5px;
	overflow: auto;
	padding: 10px;
	
}
/*table{
	border:2px solid black;
}*/
